<div class="box">
  <h1 class="title">Edit Profile</h1>

  <%= form_with(model: @profile, local: true) do |form| %>
    <% if @profile.errors.any? %>
      <div class="notification is-danger">
        <h2 class="subtitle"><%= pluralize(@profile.errors.count, "error") %> prohibited this profile from being saved:</h2>
        <ul>
          <% @profile.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field">
      <%= form.label :first_name, class: 'label' %>
      <div class="control">
        <%= form.text_field :first_name, class: 'input' %>
      </div>
    </div>

    <div class="field">
      <%= form.label :last_name, class: 'label' %>
      <div class="control">
        <%= form.text_field :last_name, class: 'input' %>
      </div>
    </div>

    <div class="field">
      <%= form.label :bio, class: 'label' %>
      <div class="control">
        <%= form.text_area :bio, class: 'textarea' %>
      </div>
    </div>

    <div class="field is-grouped">
      <div class="control">
        <%= form.submit 'Update Profile', class: 'button is-primary' %>
      </div>
      <div class="control">
        <%= link_to 'Back to Profile', profile_path, class: 'button is-light' %>
      </div>
    </div>
  <% end %>
</div> 