<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Band Seeking" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.13/cropper.min.css">
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.13/cropper.min.js"></script>
  </head>

  <body>
    <nav class="navbar" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <%= link_to 'BandSeeking', root_path, class: 'navbar-item' %>
      </div>

      <div class="navbar-menu">
        <div class="navbar-end">
          <% if user_signed_in? %>
            <%= link_to 'Profile', profile_path, class: 'navbar-item' %>
            <%= button_to 'Sign Out', destroy_user_session_path, method: :delete, class: 'navbar-item button is-primary' %>
          <% else %>
            <%= link_to 'Sign In', new_user_session_path, class: 'navbar-item' %>
            <%= link_to 'Sign Up', new_user_registration_path, class: 'navbar-item' %>
          <% end %>
        </div>
      </div>
    </nav>

    <% if notice %>
      <div class="notification is-primary">
        <button class="delete"></button>
        <%= notice %>
      </div>
    <% end %>
    
    <% if alert %>
      <div class="notification is-danger">
        <button class="delete"></button>
        <%= alert %>
      </div>
    <% end %>

    <section class="section">
      <div class="container">
        <%= yield %>
      </div>
    </section>
  </body>
</html>
